//NOTE: MUST BE REFACTORED INTO SEPERATE MODULE AT LATER
//DATE!

//This mixin corresponds to the mixins contained within
//sass/component/container/. container::generateSubmodulePerson
//IT IS TO BE MOVED TO A SUBMODULE DIRECTORY AT A LATER POINT.
mixin _login_container_SUBMODULE_personModule(selectorName, name, state, city, imgPath)
  div(class=[selectorName])
    .col-md-3
      img.user-img(src=imgPath)
    .col-md-9
      p.user-name=name
      p.user-location #{state}, #{city}
    
//This mixin corresponds to the mixins contained within
//sass/component/container/. container::generateSubmoduleEmailHeader
//IT IS TO BE MOVED TO A SUBMODULE DIRECTORY AT A LATER POINT.
mixin _login_container_SUBMODULE_emailHeaderModule(selectorName, header, preview, isNew)
  div(class=[selectorName])
    .col-md-12
      if !isNew
        p.email-header=header
        p.email-preview=preview
      else
        p.email-header <span class="email-new"></span> #{header}
        p.email-preview=preview

//This mixin corresponds to the mixins contained within
//sass/component/container/. container::generateSubmoduleDate
//IT IS TO BE MOVED TO A SUBMODULE DIRECTORY AT A LATER POINT.
mixin _login_container_SUBMODULE_dateModule(selectorName, day, month)
  div(class=[selectorName])
    .col-md-12
        p.email-dm #{day} #{month}
   
//This mixin corresponds to the mixins contained within
//no Sass file: it must be declared within an interface
//mixin in the container::generateNContainer mixin.
mixin _login_container_generateSubcolumn(selectorName, className)
  div(class=[selectorName, className])
    block

//This mixin corresponds to the mixins contained within
//sass/component/container/. container::generateNContainer
//takes a simple selector and generates it. Within the row
//one should use the generateSubcolumn with a classname for
//subcomponent styling.
mixin _login_container_generateNContainer(selectorName, breakSelectorName, subcomponentSelector)
  div(class=["row", selectorName])
    +_login_container_generateSubcolumn(subcomponentSelector, "col-md-4 col-xs-4 remove-padding-right-mobile")
      +_login_container_SUBMODULE_personModule("contactee", "French Fries", "366 kCal", "12.7 Fitness Score", "img/user-image.png")
    +_login_container_generateSubcolumn(subcomponentSelector, "col-md-6 col-xs-8 remove-padding-left-mobile")
      +_login_container_SUBMODULE_emailHeaderModule("email-data", "Bad decision.", "This will take you 22 minutes to run at a jogging pace.", false)
    +_login_container_generateSubcolumn(subcomponentSelector, "col-md-2")
      +_login_container_SUBMODULE_dateModule("email-date", "22", "July")
  .row
    hr(class=[breakSelectorName, "m-y-0"])
